#login{
    border-color: #FB8F1D;
    border-width: 1px;
    border-radius: 8px;
}
#register{
    background-color: #FB8F1D;
    border-radius: 8px;
    border-color: #FB8F1D;
}
.circle{
    border-radius: 50%;
}
#inner{
    background-color: #FB8F1D;
    border-color: #FFFFFF;
    border: 3px solid #FFFFFF;
}
#outer{
    background-color: #1ABE84;
}
.line{
    border-radius: 4px;
    border: solid #202336;
    background-color: #202336;
}
.header_rectangle{
    border-radius: 6px;
    border: 0.8px solid #AFB0B9;
    background-color: #FFFFFF;
}
.arrow{
    border-bottom: 1px solid #202336;
    border-left: 1px solid #202336;
}
#explore{
    background-color: #FB8F1D;
    border-radius: 8px;
    border-color: #FB8F1D;
}
#section1{
    background-color: #F8F8F8;
}
.header{
    background-color: #FFFFFF;
}
#learn{
    background-color: #FB8F1D;
    border-color: #FB8F1D;
    border-radius: 8px;
}
.right_arrow{
    border-bottom: 2px solid #FB8F1D;
    border-left: 2px solid #FB8F1D;
}
.third_images{
    border-radius: 8px;
}
.white_rectangle{
    background-color: #FFFFFF;
    border-radius: 0px 6px 0px 0px;
}
.footer_line{
    background-color: #c4c4c4;
}