.hamburger-menu {
    display: none; 
    flex-direction: column;
    cursor: pointer;
  }
.bar {
    width: 50px;
    height: 6px;
    background-color: #000; 
    margin: 3px 0;
  }
.header_button{
    padding: 10px 20px;
    display: inline;
    margin-right: 20px;
}
.header_nav_container{
    text-align: right;
    float: right;
    padding-right: 77px;
    margin-top: -41px;
    margin-right: -200px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.header_nav{
    margin-top: -45px;
}
.header_span_1{
    padding: 10px;
    display: inline;
    margin-right: 20px;
}
.header_span_2{
    padding: 10px; 
    display: inline;
    margin-right: 20px;   
}
#inner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#outer{
    position: relative;
}
.logo{
    margin-left: 50px;
    margin-top: 20px;
    overflow: auto;
}
.title{
    margin-left: 50px;
    margin-top: 155px;
}
#image1{
    float: right;
    margin-right: 36px;
    margin-top: -233px;
}
 .finder{
     margin-left: 50px;
     margin-top: 74px;
 }
.line{
    margin-top: 21px;
    margin-bottom: 50px;
}
.header_rectangle{
    display: inline-block;
    text-align: left;
    padding-left: 10px;
    line-height: 52px;
    margin-right: 0px;
    margin-bottom: 20px;
}
.arrow{
    margin-top: 26px;
    margin-right: 26px;
    transform: rotate(315deg);
    float: right;
}
#explore{
    margin-left: 50px;    
    margin-top: 50px;
}
#image2{
    margin-left: 50px;
    display: inline block;
}
#section1{
    padding-top: 120px;
    padding-bottom: 120px;
}
.header{
    margin-top: 30px;
    margin-bottom: 300px;
    margin-left: 60px;
    margin-right: 60px;
}
.paragraph{
    text-align: left;
    padding-left: 102px;
    padding-top: 96px;
}
.container1{
    display: flex;
}
#learn{
    margin-top: 25px;
}
#view{
    float: right;
    margin-right: 140px;
}
#section2{
    margin-left: 120px;
    margin-right: 241px;
    margin-top: 160px;
    margin-bottom: 80px;
    padding-left: 120px;
    padding-top: 40px;
    padding-bottom: 60px;
    padding-right: 240px;
}
.right_arrow{
    margin-right: -68px;
    margin-top: 7px;
    transform: rotate(225deg);
    float: right;
}
.third_images{
    margin-top: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: inline-block;
}
.white_rectangle{
    display: inline-block;
    margin-right: 161px;
    margin-left: -285px;
}
.lower{
    margin-top: -10px;
}
.upper{
    margin-top: 20px;
}
#footer_text{
    float: right;
    margin-right: 75px;
    margin-top: -30px;
}
.footer_line{
    text-align: center;
    margin-left: 150px;
    margin-top: 20px;
}
#footer_logo{
    margin-left: 150px;
}
.social-medias{
    text-align: center;
    margin-left: 50px;
}
.media-logo{
    margin: 10px;
}
@media (max-width: 320px){
    .hamburger-menu {
        display: flex;
    }
    .header_nav_container{
        display: none;
    }
    .header_nav{
        margin-right: 140px;
        margin-top: 30px;
    }
    .title{
        margin-left: 0px;
        margin-top: 155px;
    }
    #image1{
        float: left;
        margin-right: 220px;
        margin-top: -170px;
    }
    .finder{
        margin-left: 0px;
        margin-top: 200px;
    }
    .line{
        margin-top: 21px;
        margin-bottom: 50px;
    }
    .header_rectangle{
        display: inline-block;
        text-align: left;
        padding-left: 10px;
        line-height: 52px;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .arrow{
        margin-top: 21px;
        margin-right: 20px;
        transform: rotate(315deg);
        float: right;
    }
    #explore{
        margin-left:25px;
        margin-top: 50px;
    }
    #image2{
        margin-left: 50px;
        display: inline block;
    }
    #section1{
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .header{
        margin-top: 30px;
        margin-bottom: 300px;
        margin-left: 60px;
        margin-right: 60px;
    }
    .paragraph{
        text-align: left;
        padding-left: 102px;
        padding-top: 96px;
        margin-left: -320px;
        margin-top: 200px;
    }
    .container1{
        display: flex;
    }
    #learn{
        margin-top: 25px;
        margin-left: 25px;
    }
    #view{
        float: right;
        margin-right: 280px;
        margin-top: 20px;
    }
    #section2{
        margin-left: 120px;
        margin-right: 241px;
        margin-top: 160px;
        margin-bottom: 80px;
        padding-left: 120px;
        padding-top: 40px;
        padding-bottom: 60px;
        padding-right: 240px;
    }
    .right_arrow{
        margin-right: -68px;
        margin-top: 24px;
        transform: rotate(225deg);
        float: right;
    }
    .third_images{
        margin-top: 60px;
        margin-right: 20px;
        margin-bottom: -20px;
        margin-left: -40px;
        display: block;
    }
    .container2{
        margin-left: -180px;
    }
    .white_rectangle{
        display: inline-block;
        margin-right: 161px;
        margin-top: -140px;
        margin-left: -40px;
    }
    .lower{
        margin-top: -10px;
        margin-left: 2px;
    }
    .upper{
        margin-left: 2px;
    }
    #footer_text{
        float: right;
        margin-right: -10px;
        margin-top: 1000px;
    }
    .footer_line{
        text-align: center;
        margin-left: 0px;
        margin-top: 1020px;
    }
    .social-medias{
        text-align: center;
        margin-left: 0px;
    }
    .media-logo{
        margin: 10px;
    }
}
@media (min-width:2400px) {
    body{
        width: 65vw;
        margin: 0 auto;
    }
    #footer_text{
        margin-right: 300px;
    }
}
@media (min-width:321px) and (max-width:1024px) {
    #footer_text{
        margin-right:-43vw;
    }
    .social-medias{
        margin-left: 650px;
    }
}